# Calva VS Code extension
.calva/
# unignore Calva configuration. I keep some REPL snippets there (e.g. Portal)
!calva/config.edn

# static analyzer and linter for Clojure code
.clj-kondo/

# classpath cache
.cpcache/

# environment variables
.envrc

# secrets
secrets/*
!secrets/README.md

# Language Server Protocol
.lsp/

.nrepl-port

.portal/

# Node.js dependencies
node_modules/

# Snaplet database snapshots
.snaplet/config.json
.snaplet/id_rsa
.snaplet/snapshots
.snaplet/structure.d.ts

# compilation targets (e.g. jars, uberjars)
target/

