; TIP: Clojure encourages fully qualified keywords, i.e. domain/key
; WATCH OUT: secrets are not tracked in git, and are not bundled in the uberjar
{:pg-spec #profile {:default nil
                    :dev #include "../secrets/postgres-dev.edn"
                    :prod-proxied #include "../secrets/postgres-prod-proxied.edn"}

 :reitit-demo-api/relational-store
 {:jdbc-url #profile {:default nil
                      :dev #join ["jdbc:postgresql://"
                                  "postgres:5432/root"
                                  "?"
                                  "user=root&password=root"]
                      :prod #env JDBC_URL
                      :prod-proxied #join ["jdbc:postgresql://"
                                           #ref [:pg-spec :host] ":" #ref [:pg-spec :port] "/"
                                           "?"
                                           "user=" #ref [:pg-spec :user] "&password=" #ref [:pg-spec :password]]
                      :test #join ["jdbc:postgresql://"
                                   "postgres:5432/root"
                                   "?"
                                   "user=root&password=root"]}}

 :reitit-demo-api/router
 {:datasource #ig/ref :reitit-demo-api/relational-store}

 :reitit-demo-api/http-server
 {:handler #ig/ref :reitit-demo-api/router
  :join? false
  :port #profile {:default 3000
                  :dev #long #env PORT
                  :prod #long #env PORT
                  :prod-proxied #long #env PORT
                  :test 5000}}}
